# Configuration pour l'application
FLASK_APP=app.py
FLASK_ENV=development
FLASK_DEBUG=True

# Configuration du monitoring
DASHBOARD_ADMIN_USERNAME=admin
DASHBOARD_ADMIN_PASSWORD=admin
MONITORING_DATABASE_URL=sqlite:///monitoring.db

# Configuration du serveur
PORT=5000
HOST=0.0.0.0

# Limites pour le modèle
MIN_AGE=18
MAX_AGE=100
MIN_BMI=10
MAX_BMI=50
MIN_CHILDREN=0
MAX_CHILDREN=10 